{% extends "layout.html" %}

{% block page_title %}
  Sprint {{sprint}} - Funding
{% endblock %}

{% block inside_header %}

{% endblock %}

{% block after_header %}
{% include "sprint/"+sprint+"/includes/header.html" %}
{% endblock %}


{% block content %}
<main class="" id="content" role="main" tabindex="-1">


{% include "includes/link-back.html" %}


        <div class="hgroup text">
            <h1 class="heading-xlarge">Remove an organisation</h1>
            </div>

 <div class="grid-row">
    <div class="column-two-thirds">
                  </div>

        <div class="column-third">


        </div>
</div>


<table class="table"><thead><tr><th scope="col" style="padding-top:0">Organisation</th><th></th></tr></thead>
<tr><td>Acme Ltd1</td><td><a href="">Remove</a></td></tr>
<tr><td>Acme Ltd2</td><td>Can’t be removed because it's the only organisation on your account.</td></tr>
<tr><td>Acme Ltd3</td><td>Can’t be removed because it has ongoing apprenticeships.</td></tr>

</table>



</main>
{% endblock %}
